*{
  margin: 0;
  padding: 0;
}



nav{
  height:6vw ;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#search{
  width: 30vw;
  height: 1vw;
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top:1.6vw; 
  margin-left: 7vw; 
}

.container{
  width: 40vw;
  border: 2px solid black;
  height: 28vw;
  margin-left: 3vw;
  margin-top: 4vw;
  background-color: #648581; 
  box-shadow: 4px 4px 8px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2vw;
}

#mike{
    height: 24vw;
    width: 19vw;
    margin-left: 1vw;
}

.contents{
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

h2{
  font-size: 3.2vw;
  margin-top: -7.3vw;
  position:absolute;
}

h3{
  margin-top: 0.1vw;
}
  
#logo{
  height: 6vw;
  width: 15vw;
}

.mega-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}