*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden ;
  background-image: url('https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg');
}

nav{
  height:6vw ;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-shadow: 3px 3px 7px gray;
}

#search{
  width: 30vw;
  height: 1vw;
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top:1.6vw; 
  margin-left: 7vw; 
}

.container{
  width: 100%;
  border: 2px solid black;
  height: 28vw;
  margin-top: 2vw;
  margin-right: 4vw;
  background-color: #648581; 
  box-shadow: 4px 4px 8px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2vw;
  flex-wrap: wrap;
}

#mike{
    height: 24vw;
    width: 19vw;
    margin-left: 1vw;
    object-fit:inherit;
    border-radius: 8px;
}

.contents{
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  flex: 0 0 50%;
}

h2{
  font-size: 2.7vw;
  margin-top: -7.3vw;
}

h3{
  margin-top: 0.1vw;
}
  
#logo{
  height: 6vw;
  width: 15vw;
}

.mega-container{
  width: 50vw;
  height: 80vh;
  display: flex;
  margin-left: 1vw;
  padding: 0%;
  flex-wrap: wrap;
}

.main-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.add{
  height: 2vw;
  margin-top: 2vw;
  margin-right: 12vw;
  padding: 0.2vw;
}

#add-btn{
  border: 2px solid black;
  height: 2vw;
  width: 6vw;
  margin-top: 2vw;
  margin-right: 14vw;
  cursor: pointer;
}

button{
  cursor: pointer;
  background-color: #57be7e;
  height: 2vw;
  width: 6vw;
}

.buttons{
  display: flex;
  flex-direction: row;
  margin-left: 25vw;
  column-gap: 4vw;
  margin-top: -7vw;
}